body {
  background-color: #fff6f6;
}

.container {
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}
.weather-app {
  display: block;
  margin: 0 auto;
  border: solid 1px #aedefc;
  border-radius: 15px;
  max-width: 450px;
  min-width: 300px;
  padding: 25px 25px 5px;
  background: linear-gradient(#aedefc 10%, #ffdfdf 100%);
  box-shadow: 5px 5px 4px #8d8f9148;
}

.Button {
  color: #fb929e;
  font-size: 11px;
  padding: 6px;
  background: #3d4142;
  border: 1px solid #3d4142;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 4px #aedefc;
  transition: all 200ms ease-in-out;
}
.Button:hover {
  color: #3d4142;
  background: transparent;
  border: 1px solid #fb929e;
}
input #city-input {
  height: 120px;
}

.Clock {
  background-color: #aedefc;
  font-weight: bolder;
  margin-left: 37px;
  border: solid 1px #fb929e;
  border-radius: 10px;
  padding: 10px 10px;
  width: 160px;
}

.footer,
a {
  font-size: small;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #fb929e;
}

.footer,
a:hover {
  text-decoration: underline;
  color: #fb929e;
}
div.Footer {
  text-align: center;
}
