.footer,
a {
  font-size: small;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #734d8b;
}

.footer,
a:hover {
  text-decoration: underline;
  color: #734d8b;
}
div.Footer {
  text-align: center;
}
