h1 {
  color: #f0f8fa;
  font-weight: 35;
  font-size: 60px;
  line-height: 70%;
  margin: 10px 0;
}

span.country {
  font-size: 15px;
  margin-left: 5px;
  color: #f0f8fa;
}

#gpsButton {
  color: #000000;
  transition: all 200ms ease-in-out;
  width: 15px;
}
#gpsButton:hover {
  color: #7595eb;
  background: transparent;
}

.main-icon {
  width: 150px;
  display: block;
  margin: 0 0 0px 60px;
}

.phrase {
  margin-left: 10px;
  color: #f0f8fa;
  font-weight: bold;
  font-size: 15px;
}
