h1 {
  color: #e8efef;
  font-weight: 35;
  font-size: 60px;
  line-height: 70%;
  margin: 10px 0;
}

span.country {
  font-size: 15px;
  margin-left: 5px;
  color: #e8efef;
}

.main-icon {
  width: 150px;
  display: block;
  margin: 0 0 0px 60px;
}

.phrase {
  margin-left: 10px;
  color: #e8efef;
  font-weight: bold;
  font-size: 15px;
}
