ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  color: #68d5f3;
}

div.temperature {
  font-size: 70px;
  color: #ffff;
  margin-left: 30px;
}

#temp-special2 {
  font-size: 15px;
  width: 70px;
  height: 10px;
  margin: 0 auto;
  color: #f0f8fa;
  text-align: center;
}

.units {
  font-size: 15px;
  text-align: center;
}

#celsius,
#fahrenheit {
  color: #f0f8fa;
  text-decoration: none;
}

#thermometer-emoji {
  font-size: 15px;
  text-align: left;
}
