ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  color: #e8efef;
}
#description,
#humidity,
#wind {
  margin-left: 10px;
}

div.temperature {
  font-size: 60px;
  color: #e8efef;
  margin-left: 12px;
}

#temp-special2 {
  font-size: 15px;
  width: 50px;
  height: 10px;
  margin: 0 auto;
  color: #e8efef;
  text-align: center;
}

.units {
  font-size: 15px;
  text-align: center;
}

#celsius,
#fahrenheit {
  color: #e8efef;
  text-decoration: none;
}

#thermometer-emoji {
  font-size: 15px;
  text-align: left;
}

.Forecast-max,
.Forecast-day {
  color: #8d8d8d;
}
.Forecast-min {
  color: #ffff;
}
