ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  color: #464545;
}

div.temperature {
  font-size: 70px;
  color: #fb929e;
  margin-left: 30px;
}

#temp-special2 {
  font-size: 15px;
  width: 70px;
  height: 10px;
  margin: 0 auto;
  color: #fb929e;
  text-align: center;
}

.units {
  font-size: 15px;
  text-align: center;
}

#celsius,
#fahrenheit {
  color: #fb929e;
  text-decoration: none;
}

#thermometer-emoji {
  font-size: 15px;
  text-align: left;
}

.Forecast-max {
  color: #968c83;
}
.Forecast-min {
  color: #464545;
}

.Forecast-day {
  color: #968c83;
}
